<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChcvfDXVmE_v3Z1lmJljDnRDYkJOoKn4s</string>
	<key>GCM_SENDER_ID</key>
	<string>731437554797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connect2care.jarvisai</string>
	<key>PROJECT_ID</key>
	<string>connect2care-de53f</string>
	<key>STORAGE_BUCKET</key>
	<string>connect2care-de53f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731437554797:ios:35c914d218644602253364</string>
</dict>
</plist>